<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>ExtraFonts</string>
	<key>CFBundleGetInfoString</key>
	<string>ExtraFonts 1.1.1, Copyright © 2005-2006 Hiroto Sakai</string>
	<key>CFBundleIconFile</key>
	<string>ExtraFonts.tiff</string>
	<key>CFBundleIdentifier</key>
	<string>jp.gr.fan.sakai.camino.preference.extrafonts</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ExtraFonts</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string></string>
	<key>CFBundleSignature</key>
	<string>MOZC</string>
	<key>CFBundleVersion</key>
	<string>1.1.1</string>
	<key>NSMainNibFile</key>
	<string>ExtraFonts</string>
	<key>NSPrincipalClass</key>
	<string>JpGrFanSakaiCaminoPreferenceExtraFonts</string>
</dict>
</plist>
